body
{
  background:#333;
}
a
{
  color:#fff;
  font-size: x-large;
  padding: 10px;
  text-transform: uppercase;
}
strong
{
  color: tomato;
}
h1
{
  color: tan;
}
h2{
  color: tan;
}
@media screen and (max-width:400px){
  nav{
    display:flex;
    flex-direction:column;
  }
}
main
{
  width:80%;
  height:80vh;
  border:1px solid #fff;
  margin-inline-end:auto;
  margin-inline-start:auto;
  margin-top:20px;
}
